@model List<KayitViewModel>
@{
    ViewBag.Title = "Performans";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-7 col-md-7">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Anket Sonuçları
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Müşteri Ad</th>
                                <th>Cihaz</th>
                                <th>Sorunu</th>
                                <th>Teknisyen Adı</th>
                                <th>Puanı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sayac = 0;
                                
                                foreach (var item in Model)
                                {
                                    int toplam = 0;
                                    sayac++;
                                    <tr>
                                        <td>@sayac</td>
                                        <td><input type="text" value="@Servis.BLL.Account.MembershipTools.GetUserName(item.KullaniciID)" class="form-control" /></td>
                                        <td>@(new Servis.BLL.Repository.CihazRepo().GetById(item.CihazID).Tur)</td>
                                        <td>@item.Aciklama</td>
                                        <td><input type="text" value="@Servis.BLL.Account.MembershipTools.GetUserName(item.TeknisyenID)" class="form-control" /></td>

                                        @foreach (var puan in (new Servis.BLL.Repository.AnketRepo().GetAll().Where(x => x.ArizaID == item.ID).ToList()))
                                        {
                                            toplam += puan.Cevabi.Puan;
                                           
                                        }
                                        <td>
                                            @toplam
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
